<div id="bouton-profil"> 
    <button id ="text-bouton" class="bouton">Tracer mon itinéraire </button>
  </div>

<div id="info-profil">
    Tracez votre itinéraire sur la carte, puis double-cliquez pour afficher le profil altimétrique <br> 
    <i>Altimétrie disponible uniquement en France (précision de l'ordre 50cm)</i>
    
    <div id="linealti" ></div>
</div>

