
<header>
        <span class="pan-logo"><a href=""> <img src="./assets/logo.png" alt="Accueil MCMA" />
        </a></span>
    <h1 id ='titre'>Magsnow</h1>
    <ul>
        <li><div id="contact" onclick="location.href='mailto:magsnow.ensg@gmail.com';">Contact</div></li>
        <li><a href="./assets/annexes/mention.html">Mentions légales</a></li>
        <li><a href="./assets/annexes/confidentialite.html">Politique de confidentialité</a></li>
        <li><a href="./assets/annexes/aide.html">Aide</a></li>
    </ul>
    <div class="search_bar">
        
        <select id="localite">
            <option value="0" selected>Communes</option>
            <option value="1" >Massif</option>
          </select>
        <input (input)="recherche_localite()" type="text" id='recherche' placeholder="Rechercher un lieu" name="recherche" list="ville" autocomplete="off" (enter)="trouver_coordinate(this.mapService.map)">
        <button (click)="trouver_coordinate(this.mapService.map)" type="submit" class="search-button" id="loupe">
          <img src="./assets/search.png">
        </button>  
        <datalist (click)="trouver_coordinate(this.mapService.map)" id="ville">  </datalist>      
   </div>
  </header>