/*_____________________________*/
/*        CSS du header        */
/*_____________________________*/

header{
  width: 100%;
  height: 65px;
  background-color:#31525B;
  border-bottom: 2px solid rgb(33, 24, 24);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
}
  
header ul{
  position:absolute;
  top:19px;
  list-style: none;
  display: flex;
}
  
header ul li{
  width: 160px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 12px;
  color: white;
}
  
header ul li:hover{
  color: rgb(1, 0, 0);
  background-color: #B3DEE5;
  text-shadow: none;
  border-radius: 10px;
}

header h1 {
  position: absolute;
  font-family: 'Caveat', cursive;
  top: 13px;
  left: 100px;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

/* Barre de recherche */

#localite{
  position: absolute;
  top: 0px;
  right: 60px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  color: rgb(254, 251, 251);
}
  option{
    color: black;
  }
  
.search_bar {
  position:absolute;
  top: 5px;
  right: 30px;
  padding-top: 11px;
}
 
.search_bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 10px;
  border: 1px solid black;
} 
  
.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -35px;
  transform: scale(0.75);
}

.search-button:hover{
  transform: scale(1);
}
  
.search-button img {
  width: 28px;
  height: 25px;
  object-fit: cover;
}
  
/* Logo */

.pan-logo a img{
  position:absolute;
  top: 0px;
  left: 10px;
  height: 48px;
  margin: 8px;
}
  
a {
  text-decoration: none;
  color: inherit;
}
  