             /*-----------------------*/
             /* CSS du menu de gauche */
            /*-----------------------*/

/* Div du menu */
#menu{
  background: rgba( 220, 220, 220, .7);
  display: none;
  position: absolute;
  padding: 5px;
  top:50px;
  left:-20px;
  width: fit-content;
  height: 60vh;
  border: thick double black;
  text-align: center;
  overflow-y: auto;
}

#altimetrie {
    padding:5px;
    z-index: 10;
    text-align: center;
    width: 100%;
}

#container {
  position: absolute;
  top: 5px;
  left: -20px;
  cursor: pointer;
}

  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: midnightblue;
    border-radius: 2px;
    border-color: ghostwhite;
    margin: 6px 0;
    transition: 0.4s;
    box-shadow: 5px 5px 5px rgb(166, 161, 161);
  }
  
  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  