<!-- Memo code simple -->
<!-- <h2>{{ title }}</h2>
<p>Mis en ligne le {{ createdDate }}</p>
<p>{{ description }}</p>
<button (click)="recherche()">Rechercher</button> -->

<div id="container" (click)="AfficheMenu()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<div id="menu">
    
    <h2>Outil de tracé</h2>

    <div id="altimetrie">
        <app-profil></app-profil>
    </div>

    <p>___________________________________</p>
    <h2>Qualité de la neige</h2>

    <div id="traitement-img">
        <app-geo-tiff-layer></app-geo-tiff-layer>
    </div>

</div>


