<div id="map">

    <nav id ='reglage' class ='menu'>
          <li class="liste">Légende et Réglage des couches
            <ul class="sous">
              <li id ='reg_ign'> 
                <i>IGN</i>  <br>
                <input type="range" id="opacite_ign" name="opacite" min="0" max="100" value="100" (click)="changement_opacite(this.IGNTOPO,'opacite_ign')"  >
                <input class='bt-reg' type="button" title="Fermer" (click)="fermeture_reg('reg_ign')">
                __________________________<br> 
              </li>

              <li id ='reg_opentopo'> 
                <i>OpenTopoMap</i><br>
                <input type="range" id="opacite_opentopo" name="opacite" min="0" max="100" value="100" (click)="changement_opacite(this.OPENTOPO,'opacite_opentopo')"  >
                <input class='bt-reg' type="button" title="Fermer" (click)="fermeture_reg('reg_opentopo')">
                <br> __________________________
              </li>

              <li id ='reg_wds'> 
                <i>Wet Dry Snow (WDS)</i> <br> 
                <input type="range" id="opacite_wds" name="opacite" min="0" max="100" value="100" (click)="changement_opacite(this.WDS,'opacite_wds')"  >
                <input class='bt-reg' type="button" title="Fermer" (click)="fermeture_reg('reg_wds')"><br>
                <i id="commentaire">Sélectionnez la date et validez :</i><br>
                <input type="date" [valueAsDate]="dateNeige" (change)="dateNeige = $event.target.valueAsDate"   class="input-date" />
                <br> Date sélectionnée : <br>
                <b>{{dateNeige | date: 'longDate'}}</b><br>
                <input id='bouton_wds' type="button" value="Valider" class="bouton" (click)="maj_wds()">
                <img src="./assets/legende_wds.png" height="80%" width="80%" />
                <br> __________________________
              </li>

              <li id = 'reg_s2l2a'> 
                <i>Image Satellite Sentinel 2</i> <br>  
                <input type="range" id="opacite_s2l2a" name="opacite" min="0" max="100" value="100" (click)="changement_opacite(this.S2L2A, 'opacite_s2l2a')"  >
                <input class='bt-reg' type="button" title="Fermer" (click)="fermeture_reg('reg_s2l2a')">
                <br> __________________________
              </li>

              <li id = 'reg_pente'> 
                <i>Carte des pentes (IGN)</i> <br> 
                <input type="range" id="opacite_pente" name="opacite" min="0" max="100" value="40" (click)="changement_opacite(this.PENTE, 'opacite_pente')"  >
                <input class='bt-reg' type="button" title="Fermer" (click)="fermeture_reg('reg_pente')">
                <img src="./assets/legende_ign.png" height="70%" width="70%" />
                <br> __________________________
              </li>

            </ul>
          </li>
      </nav>

    <div id="contrôle-carte">

        <abbr class='survol' title="Fond de carte">
            <img id="fonds-de-carte" class="bouton-carte" src="./assets/fond.png" (click)="affichage_fondcarte()" height="100%" width="100%" />
        </abbr>

        <abbr class='survol' title="Couches Sentinel">
            <img id="sentinel" class="bouton-carte" src="./assets/satellite.png" (click)="affichage_sentinel()" height="100%" width="100%" />
        </abbr>

        <abbr class='survol' title="Informations supplémentaires">
            <img id="outils" class="bouton-carte" src="./assets/plus.png" (click)="affichage_outils()" height="100%" width="100%" />
        </abbr>
    


    <abbr class='survol' title="Bulletin d'avalanche">
        <img id="data-avalanche" class="bouton-carte" src="./assets/avalanche.png" (click)="call_BRA()" height="100%" width="100%" />
    </abbr>

    
    <abbr class='survol' title="Avalanches récentes">
        <img id="avalanche" class="bouton-carte" src="./assets/risque.png" (click)="call_avalanche()" height="100%" width="100%" />
    </abbr>


    
        <div id="bulle-fond-carte">
            <abbr class='survol' title="Fond IGN Topographique">
                <img id="ign-topo" class="couche-carte" src="./assets/igntopo.png" (click)="fond_igntopo(compteur_igntopo)" height="10%" width="10%" />
            </abbr>

            <abbr class='survol' title="Fond OpenStreetMap">
                <img id="open-topo" class="couche-carte" src="./assets/opentopo.png" (click)="fond_opentopo(compteur_opentopo)" height="10%" width="10%" />
            </abbr>
        </div>
        

        <div id="bulle-sentinel">
              
            <abbr class='survol' title="WetDrySnow">
                <img id="wetdrysnow" class="couche-carte" src="./assets/WDS.png" (click)="fond_WDS(compteur_wds)" height="10%" width="10%" />
            </abbr>

            <abbr class='survol' title="Satellite Sentinel-2">
                <img id="s2l2A" class="couche-carte" src="./assets/s2l2a.png" (click)="fond_S2L2A(compteur_s2l2a)" height="10%" width="10%" />
            </abbr>

      </div>

      <div id="bulle-outils">
              
        <abbr class='survol' title="Sentier">
            <img id="sentier" class="couche-carte" src="./assets/sentier.png" (click)="fond_sentier(compteur_sentier)" height="10%" width="10%" />
        </abbr>

        <abbr class='survol' title="Pentes">
            <img id="pente" class="couche-carte" src="./assets/pente.png" (click)="fond_pente(compteur_pente)" height="10%" width="10%" />
        </abbr>

        <abbr class='survol' title="Massifs">
            <img id="massif" class="couche-carte" src="./assets/massif.png" (click)="fond_massif(compteur_massif)" height="10%" width="10%" />
        </abbr>

      </div>


</div>


<div id="div-avalanche">
    <button id="x" class = 'bouton-fermeture' (click)="fermeture()">
        X
    </button>
    <div id="bulletin">
        <h2 id="nom-massif"></h2>
        <img id='image' src=""  height="80px" width="74px" />
        <p id='date' ></p>
        <p id='description' ></p>
    </div>

    <i>Données issues de <a href="https://meteofrance.com/meteo-montagne">Météo France</a></i><br>

    <input type="button" value="Retour à la carte" class="bouton" (click)="retourcarte()">
</div>

<div id="div-avalanche-semaine">
    <button id="x" class = 'bouton-fermeture' (click)="fermeture()">
        X
    </button>
    <h2 class = 'overlay-text'  id="avalanche-title"></h2>
    <p class = 'overlay-text'  id="avalanche-description"></p>
    <p class = 'overlay-text'  id="avalanche-orientation"></p>
    <p class = 'overlay-text'  id="avalanche-alti"></p>
    <p class = 'overlay-text'  id="avalanche-link"></p>
    <input type="button" value="Retour à la carte" class="bouton" (click)="retourcarte()"> <br>
    <i>Données issues de <a href="http://www.data-avalanche.org/">DataAvalanche</a><br>Avalanche sur la semaine passée</i>
</div>
<div id="mouse-position"></div>




