/*_______________________________*/
/*        CSS de la carte        */
/*_______________________________*/

#map {
  overflow: hidden;
  position: absolute;
  height: calc(100% - 60px);
  width: 100%;
  z-index: 0;
}

/* Change les boutons zoom de place */
::ng-deep #map .ol-zoom {
  top: 35px;
  left: auto;
  right: 7px;
}

#commentaire{
  font-size: xx-small;
}

/* Gestions des bulles */

#bulle-fond-carte{
  position: inherit;
  display: inline-block;
  z-index: 100000;
  top: 50%;
  transform: translateY(-50%);
  right: 4em;
  max-width: 60px;
  background-color: #FAE6B1;
  color:#fff;
  padding:5px;
  border-radius:8px;
  visibility: hidden;
}

#bulle-sentinel{
  position: inherit;
  display: inline-block;
  z-index: 100000;
  top: 50%;
  transform: translateY(-50%);
  right: 4em;
  max-width: 60px;
  background-color:#f8f0db;
  color:#fff;
  padding:5px;
  border-radius:8px;
  visibility: hidden;
}

#bulle-outils{
  position: inherit;
  display: inline-block;
  z-index: 100000;
  top: 50%;
  transform: translateY(-50%);
  right: 4em;
  max-width: 60px;
  background-color:#dfdfb6;
  color:#fff;
  padding:5px;
  border-radius:8px;
  visibility: hidden;
}


/* Intérieur des bulles */

#ign-topo{
  z-index: 3;
  background-size: contain;
  background-color: none;
  padding-bottom: 2px; 
}

#open-topo{
  z-index: 3;
  background-size: contain;
  background-color: none;
  opacity: 0.5;
  padding-top: 2px;
  padding-bottom: 2px;
}

#wetdrysnow{
  z-index: 3;
  background-size: contain;
  background-color: none;
  opacity: 0.5;
}

#s2l2A{
  z-index: 3;
  background-size: contain;
  background-color: none;
  opacity: 0.5;
  padding-top: 2px;

}

#sentier{
  z-index: 3;
  background-size: contain;
  background-color: none;
  padding-bottom: 2px;
  opacity: 0.5;
}

#pente{
  z-index: 3;
  background-size: contain;
  background-color: none;
  padding-top: 2px;
  padding-bottom: 2px;
  opacity: 1;
}

#massif{
  z-index: 3;
  background-size: contain;
  background-color: none;
  padding-top: 2px;
  opacity: 0.5;
}


@keyframes arrivee{
from{
  top: 0;
  background-color: rgba( 220, 220, 220, 0);;
}
to{
  top: 50%;
  background-color: rgba( 220, 220, 220, .85);;
}
}

@keyframes arrivee-simple{
from{
  top: 0;
}
to{
  top: 50%;
}
}

@keyframes fondue{
from{
  opacity: 0;
}
to{
  opacity: 0.4;
}
}

#date-container-topleft {
  left: 40px;
  top: 82px;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  margin-left: 4px;
}

.couche-carte {
  text-align: center;
  height: 45px;
  width: 50px;
  outline:none;
  transition: 0.4s;
}
  
.couche-carte:hover,
.couche-carte:focus {
  height: 47px;
  width: 52px;
  transform: scale(1.05);
 }

.survol{
  cursor: pointer;
}


/* CSS des Avalanches */

/* Logo des avalanches */

#avalanche{
  z-index: 3;
  background-size: contain;
  background-color: none;
}
  
#data-avalanche{
  z-index: 3;
  background-size: contain;
  background-color: none;
}
  
/* Div où s'affiche le BRA */ 
  
#div-avalanche{  
  background: rgba( 220, 220, 220, .85);
  display: none;
  border: thick double black;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: black;
  z-index: 5;
  padding: 5px;
  animation-name: arrivee;
  animation-duration: 3s;
  }

#div-avalanche-semaine{
  background: rgba( 220, 220, 220, .85);
  display: none;
  border: thick double black;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: black;
  z-index: 5;
  padding: 5px;
  animation-name: arrivee;
  animation-duration: 3s;
}
  
#fermeture{
  position: fixed;
  z-index: 100;
  top: calc(40vh - 20px);
  right: calc(40vw - 30px);
  animation-name: arrivee-simple;
  animation-duration: 3s;
}
  
#x {
  position: absolute;
  background: red;
  color: white;
  top: -18px;
  right: -18px;
}
  
  
  .bouton-carte {
  text-align: center;
  height: 50px;
  width: 60px;
  padding: 5px 10px;
  border-radius: 40px;
  outline:none;
  transition: 0.4s;
}

.bouton-carte:hover,
.bouton-carte:focus {
  height: 70px;
  width: 80px;
  transform: scale(1.1);
}

.bouton-fermeture {
  text-align: center;
  height: 40px;
  width: 50px;
  padding: 5px 10px;
  border-radius: 40px;
  outline:none;
  transition: 0.4s;
}

.bouton-fermeture:hover,
.bouton-fermeture:focus {
  height: 45px;
  width: 55px;
  transform: scale(1.1);
}

/* Coordonnées sur la carte */  
#mouse-position {
  padding: 1px 5px;
  border-radius: 3px;
  position:absolute;
  display: inline-block;
  color: black;
  background: rgba(255, 255, 255, 0.6);
  bottom: 8px;
  left: 45%;
  font-size: 0.7em;
  z-index: 10000;
}
  
#contrôle-carte{
  position: absolute;
  display: inline-block;
  z-index: 100000;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  max-width: 60px;
}

/* Réglages des couches */

#reglage{
  position: inherit;
  z-index: 100000;
  top:0;
  left:50%;
  transform: translateX(-50%);
  background-color :#FAE6B1;
  box-shadow: 0 0 0.2em rgb(120, 120, 120), 0 0 0.2em rgb(143, 143, 143);
  font-weight: 500;
  color: rgb(7, 8, 0);
  text-align: center;
  width: 250px;
  border-radius: 5px;
  padding: 5px;
  height: 30px;
}


#reg_opentopo, #reg_wds, #reg_s2l2a, #reg_massif{
  display : none;
}

#bouton_wds{
  margin-bottom: 4px;
}

.menu .liste {
	display: inline-block;
	vertical-align: top;
  position: relative;
  left:50%;
  width: 250px;
  transform: translateX(-50%);
  cursor: pointer;
}

.menu .liste ul {
  font-weight: 200;
  margin-top: 8px;
	background-color: #B3DEE5;
  padding-right: 30px;
  list-style: none;
  border-radius: 2px;
  position: relative;
  left:50%;
  width: fit-content;
  transform: translateX(-50%);
}

.menu .liste ul {
	display: none;
}

.menu .liste:hover ul {
	display: block;
}


/* Gestion des boutons de fermeture dans les réglages */

.bt-reg {
  margin-left: 10px;
  text-align: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border-style: none;
  background-color: rgb(80, 80, 80);
  outline:none;
}

.bt-reg:hover,
.bt-reg:focus {
  color: white;
  box-shadow: 0 1px 0 rgba(255,0,255,.1),
              0 0 1px 1px rgba(255,255,255,.3) inset,
              0 1px rgba(255,255,255,.4) inset,
              0 0 5px rgba(0,0,0,1);
  border-color: rgba(255, 255, 255, .2);
}

.bt-reg:active {
  background-color: red;
}
