/*_______________________________________________*/
/*        CSS relatif au traitement image        */
/*_______________________________________________*/

/* Bouton de sélection pour l'extraction vectorielle*/
.bouton_neige {
  text-align: center;
  width: 125px;
  padding: 5px 10px;
  color: white;
  border-radius: 4px;
  background-image: linear-gradient(90deg, rgba(26,62,153,1) 0%, rgba(0,119,237,1) 100%);
  border: 1px solid rgb(0, 0, 0);
  text-shadow: 0 1px 1px rgba(153, 129, 51, 0.8);
  cursor: pointer;
  outline: none;
}

.bouton_neige:hover,
.bouton_neige:focus {
  color: white;
  background-color: #3060ff;
  background-color: #23283b;
  box-shadow: 0 1px 0 rgba(255,255,255,.1),
              0 0 1px 1px rgba(255,255,255,.3) inset,
              0 1px rgba(255,255,255,.4) inset,
              0 0 5px rgb(62, 63, 50);
  border-color: rgba(255, 255, 255, .2),
                0 0 5px rgb(95, 92, 97);
}

.bouton_neige:active {
  background-color: #246cbf;
  border: 1px solid black;
}

#text-image-2{
  position:relative;
  display: inline-block;
  margin: 5px;
}

#text-image{
  position: relative;
  margin: 5px;  
  display: inline-block;
}

/* Graph répartition neige */
#doughnutchart{
  width: inherit;
}

/* Gestion des boutons de fermeture dans les réglages */
.bt-fer_fraiche {
  margin: 10px;
  font-size: 90%;
  text-align: center;
  height: fit-content;
  width: 150px;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(143, 169, 248);
  outline:none;
}

.bt-fer_fraiche:hover,
.bt-fer_fraiche:focus {
  color: white;
  box-shadow: 0 1px 0 rgba(255,0,255,.1),
              0 0 1px 1px rgba(255,255,255,.3) inset,
              0 1px rgba(255,255,255,.4) inset,
              0 0 5px rgba(0,0,0,1);
  border-color: rgba(255, 255, 255, .2);
}

.bt-fer_fraiche:active {
  background-color: red;    
}

.bt-fer_humide {
  font-size: 90%;
  margin: 10px;
  text-align: center;
  height: fit-content;
  width: 150px;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(250, 109, 175);
  outline:none;
}

.bt-fer_humide:hover,
.bt-fer_humide:focus {
  color: white;
  box-shadow: 0 1px 0 rgba(255,0,255,.1),
              0 0 1px 1px rgba(255,255,255,.3) inset,
              0 1px rgba(255,255,255,.4) inset,
              0 0 5px rgba(0,0,0,1);
  border-color: rgba(255, 255, 255, .2);
}

.bt-fer_humide:active {
  background-color: red;
}

/* Barre de chargement */
#chargement{
  display: none;
  margin-bottom: 30px;
}

.progression{
  position: relative;
  height: 12px;
  width: 100%;
  border: 1px solid #61caf4;
  border-radius: 15px;
}

.progression .interieur{
  position: absolute;
  background-color: #0073a4;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: avance 1s infinite linear;    
}

@keyframes avance{
  0%{
    width: 0%;
  }
  25%{
    width: 25%;
  }
  50%{
    width: 50%;
  }
  75%{
    width: 75%;
  }
  100%{
    width: 100%;
  }
}

#erreur{
  display: none;
  color: red;
}

#erreur_zone{
  display: none;
  color: red;
}