<div id="bouton-image"> 
    
    <input type="date" [valueAsDate]="dateNeige" (change)="dateNeige = $event.target.valueAsDate"   class="input-date" />
    <br> Date sélectionnée : 
    <strong>{{dateNeige | date: 'longDate'}}</strong>
    <br>
    <button id ="text-image" class="bouton_neige" (click)="selection(this.mapService.map,0)"><img src="../assets/logo.png" height ="20px"><br>Analyse de la neige fraîche</button>
    <button id ="text-image-2" class="bouton_neige" (click)="selection(this.mapService.map,1)"><img src="../assets/logo-rose.png" height ="20px"><br>Analyse de la neige humide</button>
    <p><i>Appuyez sur Alt puis sélectionner avec le pointeur de la souris
        la zone sur laquelle vous voulez travailler</i></p>
        
</div>

<div id='chargement' class="progression">
    <div class="interieur"></div>
  </div>

<div id="erreur">
    Absence du type de neige désiré dans cette zone aux dates choisies <br>
    <i>Verifiez si la zone est balayée par le satellite à cette date</i> 
</div>

<div id="erreur_zone">
    La zone sélectionnée est trop grande <br>
    <i>Veuillez la restreindre</i> 
</div>

<div id="info-image">
        <button id="fraiche" class='bt-fer_fraiche' (click)="fermeture_couche('neige_fraiche')"> Supprimer les couches de neige fraîche</button>
        <button id="humide" class='bt-fer_humide' (click)="fermeture_couche('neige_humide')"> Supprimer les couches de neige humide</button>
    <div id="repartition">
        <div id="doughnutchart"></div>
    </div>

</div>
 
