/*_____________________________*/
/*        CSS principal        */
/*_____________________________*/

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.ol-control button {
    background-color: red;
}


/* Gestion du Style des popup */
 /* Ne peut se gérer que là malheureusement */
.popupmassif{
    text-align: center;
    color: #3060ff;
}

/* Boutons */

.bouton {
    text-align: center;
    padding: 5px 10px;
    color: white;
    border-radius: 4px;
    background-color: #083350;
    background-image: linear-gradient(90deg, rgba(26,62,153,1) 0%, rgba(0,119,237,1) 100%);
    border: 1px solid rgb(0, 0, 0);
    text-shadow: 0 1px 1px rgba(153, 129, 51, 0.8);
    cursor: pointer;
    outline: none;
}
  .bouton:hover,
  .bouton:focus {
      color: white;
      background-color: #3060ff;
      background-color: #23283b;
      box-shadow: 0 1px 0 rgba(255,255,255,.1),
                  0 0 1px 1px rgba(255,255,255,.3) inset,
                  0 1px rgba(255,255,255,.4) inset,
                  0 0 5px rgb(62, 63, 50);
      border-color: rgba(255, 255, 255, .2),
                    0 0 5px rgb(95, 92, 97);
  }
  
  .bouton:active {
      background-color: #246cbf;
      border: 1px solid black;
  }
  
  /* .bouton_pop{
    text-align: center;
    padding: 5px 10px;
    color: #eee;
    border-radius: 4px;
    background-color: #208fd9;
    border: 1px solid rgb(0, 0, 0);
    text-shadow: 0 1px 1px rgba(153, 129, 51, 0.8);
    outline:none;
    margin-left: 25%;
  }
  .bouton_pop:hover,
  .bouton_pop:focus {
      color: white;
      background-color: #3060ff;
      box-shadow: 0 1px 0 rgba(255,255,255,.1),
                  0 0 1px 1px rgba(255,255,255,.3) inset,
                  0 1px rgba(255,255,255,.4) inset,
                  0 0 5px rgba(174,58,235,1);
      border-color: rgba(255, 255, 255, .2);
  }
  
  .bouton_pop:active {
      background-color: #246cbf;
      border: 1px solid black;
  } */
